root = "."
tmp_dir = "tmp"
[build]
  bin = "./tmp/main"
  cmd = "go build -buildvcs=false -o ./tmp/main ./cmd/api"
  delay = 1000
  exclude_dir = ["tmp", "migrations", "vendor"]
  exclude_regex = ["_test.go"]
  include_ext = ["go"]
  kill_delay = "0s"
  send_interrupt = false
  stop_on_error = false
[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"
[log]
  time = false
[misc]
  clean_on_exit = true