# Database
DATABASE_URL=

# Server
PORT=8080
FRONTEND_URL=http://localhost:3000

# Redis
REDIS_PASSWORD=
REDIS_URL=redis://:YOUR_PASSWORD@redis:6379

# RabbitMQ
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBITMQ_URL=amqp://USER:PASSWORD@rabbitmq:5672/

# Scraper (used by scheduler)
SCRAPE_INTERVAL_MINUTES=720

# POSTGRES
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

GOOGLE_APPLICATION_CREDENTIALS=
GEMINI_SECRET_NAME=

# Google OAuth2
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=http://localhost:8080/api/auth/google/callback

# JWT
JWT_SECRET=
